
<div class="deshwrapper">
  <div class="container">
    <div class="row">
      <!-- start of top divs -->
      <div class="col-xs-12 col-md-4">



            <% avatar_url = current_user.facebook_picture_url || "https://dqjghx1vau0u.cloudfront.net/assets/default-user-avatars-small-d5efadcf497ea7b3d86c6f8d148d66633a29ce78fa8391af628adf32d9989354.png" %>
            <%= image_tag avatar_url, class: 'avatar-large' %><br>
            <strong style="text-transform: capitalize; text-align: center;"> <%= current_user.first_name %> <%= current_user.last_name %></strong>

     </div>
     <div class="col-xs-12 col-md-4">
       <h3>Information:</h3>
          <ul >
            <li>Email: <%= current_user.email %></li>
            <li>Date Joined: <%= current_user.created_at %></li>
            <li>Last Log-in: <%= current_user.last_sign_in_at %> </li>
          </ul>

      </div>
    </div>
  </div>
  <!-- end of top divs -->

  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-md-8">
      <h1>Your Storages:</h1>
      <% current_user.storages.each do |storage| %>
      <div class="col-xs-12 col-md-4">
        <div class="card" style="background-image: url('<%= cl_image_path storage.photo.path, height: 300, width: 400, crop: :fill %>');">
          <div class="card-category">
           <h3><%= storage.title %></h3>
         </div>
         <div class="card-description">
          <p><%= storage.description.split(" ")[0..3].join(" ") %></p>
          <h5>Size in sqft<%= storage.size %> | Price: £<%= storage.price %></h5>
        </div>
        <%= link_to "#", storage, class: "card-link" %>
      </div>
      <ul class="list-inline">

       <li>
        <%= link_to edit_storage_path(storage) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end %>
      </li>
      <li>

        <%= link_to storage, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i>

      </li>
      <% end  %>
    </ul>



  </div>

  <% end %>
</div>
  <!-- end of card -->


  <div class="col-xs-12 col-md-4">
<h1>Bookings</h1>
  </div>

</div>
</div>
</div>















</div>
