

<br>
<br>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
     <p> <%= image_tag 'fahad.jpeg', class: 'avatar-large' %> </p>
     <strong>Fahad</strong>
     <p>Founder</p>


     <p> <%= image_tag 'harry.jpeg', class: 'avatar-large' %> </p>
     <strong>Harry</strong>

     <p> <%= image_tag 'kit.jpeg', class: 'avatar-large' %> </p>
     <strong>Kit</strong>

     <p> <%= image_tag 'ralph.jpeg', class: 'avatar-large' %> </p>
     <strong>Ralph</strong>

   </div>
   <div class="col-xs-10">

    <h1>About US</h1>
    <p> We're here to make it easier for people to store the things they care about.

      Living in London, we found that between moving houses, travelling a lot and living in increasingly smaller spaces, we just didn't have enough storage space for our stuff (and that's after getting rid of non-essentials!). </p>


      <p>When it came to paying for self storage, all the options were expensive and complicated. We got tired of dealing with storage staff who were missing the word "helpful" from their vocabulary, driving for hours to get to and from our stuff, and handing wads of money over to storage companies.</p>

      <p>We also got thinking about how much empty space there was in the houses, flats and buildings around us. Surely there were people within walking distance who would take great care of our stuff for a reasonable price?</p>

      <p>We wanted to store nearby, with people who cared about our stuff, without spending a load of cash. So we started RentStorage.</p>

      <br>



      <h4> WHAT IS IT? </h4>

      <p>We are a community marketplace where people can book secure storage space in the homes, lofts and garages of trusted Storage Hosts nearby. Here are the important bits:</p>


      <p>It's safe: Our hosts are background checked, we inspect storage locations, and we provide damage cover for your stuff - so you can rest easy :)</p>

      <p>It's great value: Starting at just £1.49 per box, per week, and no hidden charges. Store with people who actually give a monkey's, and at a price that'll make you smile</p>

      <p>It's easy: We'll match you to someone nearby, so no long schleps across town</p>

    </div>
  </div>
</div>








<%= link_to 'Back', root_path %>
</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>
