<div class="banner banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @storage.photo.path, height: 300, width: 400, crop: :fill %>');">
  <div class="banner-content">
    <h1>  <%= @storage.title  %></h1>

  </div>
</div>

<div class="container" id="storage-show-details">
  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-4">
         <p>  <% avatar_url = @storage.user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %> </p>
          <strong style="text-transform: capitalize;"> <%= @storage.user.first_name %> <%= @storage.user.last_name %> </strong>
          <p>Host</p>
        </div>
        <div class="col-xs-8">
          <h3>Large Attic space for self storage</h3>
          <div class="storage-specs">
           <div class="text-center">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
            <p><%= @storage.size %></p>
          </div>

          <div class="text-center">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <p><%= @storage.term %></p>
          </div>

          <div class="text-center">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <p><%= @storage.price %></p>
          </div>
        </div>
      </div>

    </div>
    <div class="row" id="storage-show-description">
      <div class="col-xs-12">
        <p> <%= @storage.description %> </p>
        <iframe width="750" height="250"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key= AIzaSyC2wZotirQuQ1KcjLPqo4b8IN0HXqtBOu0&q=Space+Needle,Seattle+WA">
        </iframe>
        <div><% if user_signed_in? %>
          <%= link_to 'Edit', edit_storage_path(@storage) %> |
          <%= link_to 'Back', storages_path %>
        <% else %>
 <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-xs-4">
        <div id="storage-show-form">
          <p>
            <%= link_to "Ask the host a question", '#', class: 'btn btn-primary' %>
          </p>
          <h4>Book Now</h4>
          <%= render partial: 'booking_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

